<a href="{{ product.url }}" class="flex flex-col hover:scale-[1.02] transition-transform duration-300 ease-in-out">
  <div class="w-full h-[300px] mb-4 bg-white">
    <img src="{{ product.featured_image | img_url: '500x400' }}" alt="{{ product.title }}" class="w-full h-full object-contain">
  </div>
  <div class="flex-1 flex flex-col justify-between gap-4">
    <div class="flex flex-col gap-2">
      <p class="text-black/50 uppercase font-medium">{{ product.variants.first.sku }}</p>
      <h3 class="font-medium text-xl uppercase">{{ product.title }}</h3>
    </div>
    <p class="text-primary text-2xl font-medium">{{ product.variants.first.price | money }}</p>
  </div>
</a>
