<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>UTV Parts</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        {% for tag in collection.all_tags %}
          {% capture pref %}{{ tag | downcase | slice: 0,5 }}{% endcapture %}
          {% if pref == 'part_' %}
            {% assign label = tag | replace_first: 'part_', '' | replace: '_', ' ' | strip %}
            <li>
              <a
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                href="{{ collection.url }}/{{ tag | handle }}"
                class="capitalize"
              >
                {{- label -}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--
    <div class="bg-white p-4 mt-5">a
      <div class="flex items-center justify-between text-xl font-medium">
        <p>UTV Vehicles</p>
        <i class="fa-regular fa-dash"></i>
      </div>
      <div class="mt-4 flex flex-col gap-2">
        <div>
          <p class="font-medium">Polaris</p>
          <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Polaris-UTV_RZR"
              >
                RZR
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Polaris-UTV_Ranger"
              >
                Ranger
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Polaris-UTV_General"
              >
                General
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Polaris-UTV_Xpedition"
              >
                Xpedition
              </button>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium">Can-Am</p>
          <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_CanAm_Maverick"
              >
                Maverick
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_CanAm_Defender"
              >
                Defender
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_CanAm_Commander"
              >
                Commander
              </button>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium">Honda</p>
          <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Honda_Talon"
              >
                Talon
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Honda_Pioneer"
              >
                Pioneer
              </button>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium">Kawasaki</p>
          <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Kawasaki_KRX1000"
              >
                KRX 1000
              </button>
            </li>
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Kawasaki_KRX41000"
              >
                KRX 4 1000
              </button>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium">Yamaha</p>
          <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
            <li>
              <button
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                data-part="fitment_Yamaha_YXZ"
              >
                YXZ
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  -->
  <div class="mt-2">
    <a class="filter-button cursor-pointer p-4" href="{{ collection.url }}">All Parts</a>
  </div>
</div>
