<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>All Products</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        {% for tag in collection.all_tags %}
          {% capture pref %}{{ tag | downcase | slice: 0,5 }}{% endcapture %}
          {% if pref == 'part_' %}
            {% assign label = tag | replace_first: 'part_', '' | replace: '_', ' ' | strip %}
            <li>
              <a
                class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
                href="{{ collection.url }}/{{ tag | handle }}"
                class="capitalize"
              >
                {{- label -}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="mt-2">
    <a class="filter-button cursor-pointer p-4" href="{{ collection.url }}">All Parts</a>
  </div>
</div>
