<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    >
    <style>
      @font-face {
        font-family: 'PureHeart';
        src: url('{{ "PureHeartSVG-Regular.woff2" | asset_url }}') format('woff2-variations');
        font-style: normal;
        font-display: swap;
        font-weight: normal;
      }
    </style>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/35200d6a96.js" crossorigin="anonymous"></script>

    <!-- Alpine.js dropdown Animation -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <!-- ANIMATE SCROLL -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    {% section 'navbar' %}

    {{ content_for_layout }}
    {% section 'newsletter' %}
    {% section 'footer' %}

    <div class="container relative">
      <div
        x-data="
          {
            open: false,
            productTitle: '',
            init() {
              window.addEventListener('cart:added', (e) => {
                this.productTitle = e.detail.productTitle;
                this.open = true;
                setTimeout(() => { this.open = false }, 5000);
              });
            }
          }
        "
        x-init="init"
        x-show="open"
        x-transition.opacity.duration.300ms
        x-cloak
        class="fixed top-6 md:right-6 right-0 mx-4 z-50 bg-white shadow-lg border border-black/10 px-4 py-3 rounded-md flex items-center gap-2"
      >
        <i class="fa-solid fa-check text-green-600"></i>
        <p class="text-sm"><strong x-text="productTitle"></strong> was added to your cart.</p>
      </div>
    </div>

    <script>
      AOS.init();
    </script>

    <script>
      document.addEventListener('cart:added', () => {
        fetch('/cart.js')
          .then((res) => res.json())
          .then((data) => {
            document.querySelectorAll('.cart-count-badge').forEach((el) => {
              el.textContent = data.item_count;

              if (data.item_count > 0) {
                el.classList.remove('hidden');
              } else {
                el.classList.add('hidden');
              }
            });
          });
      });
    </script>

    <script>
      function confirmationModal() {
        return {
          open: false,
          productTitle: '',
          init() {
            window.addEventListener('cart:added', (e) => {
              this.productTitle = e.detail.productTitle;
              this.open = true;

              setTimeout(() => {
                this.open = false;
              }, 3000);
            });
          }
        };
      }
    </script>
  </body>
</html>
