<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    >
    <style>
      @font-face {
        font-family: 'PureHeart';
        src: url('{{ "PureHeartSVG-Regular.woff2" | asset_url }}') format('woff2-variations');
        font-style: normal;
        font-display: swap;
        font-weight: normal;
      }
    </style>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/35200d6a96.js" crossorigin="anonymous"></script>

    <!-- Alpine.js dropdown Animation -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <!-- ANIMATE SCROLL -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    {% section 'navbar' %}
    {{ content_for_layout }}
    {% section 'newsletter' %}
    {% section 'footer' %}
    <script>
      AOS.init();
    </script>
  </body>
</html>
