<div class="md:py-20 py-10">
  <div class="container">
    <h2 class="font-bold text-4xl md:text-[68px] text-center uppercase">Everything Under One Roof</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 mt-4 md:mt-10">
      <img src="{{ 'everything-under1.jpg' | asset_url }}" alt="Everything Under" class="w-full h-[300px] md:h-[400px] object-cover">
      <img src="{{ 'everything-under2.png' | asset_url }}" alt="Everything Under" class="w-full h-[300px] md:h-[400px] object-cover">
      <img
        src="{{ 'everything-under3.jpg' | asset_url }}"
        alt="Everything Under"
        class="w-full h-[300px] md:h-[400px] object-cover md:col-span-2 lg:col-span-1"
      >
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4 mt-2 md:mt-4">
      <img src="{{ 'everything-under4.png' | asset_url }}" alt="Everything Under" class="w-full h-[300px] md:h-[400px] object-cover">
      <img src="{{ 'everything-under5.png' | asset_url }}" alt="Everything Under" class="w-full h-[300px] md:h-[400px] object-cover">
    </div>
  </div>
</div>
